{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/page.css' %}">
</head>
<body>
    <p><a href='todolist/'>全部</a></p>
    <p><a href='scheduleCalendar/'>scheduleCalendar</a></p>
    <p><a href='job/'>仕事</a></p>
    <p><a href='hobby/'>趣味</a></p>
    <p><a href='university/'>大学</a></p>
    <p><a href='others/'>その他</a></p>
    <hr>
    <a href='logout/'>ログアウト</a>
</body>
</html>

